.mail {
    width: 95%;
    height: 200px;
    margin-top: 50px;
    background-color: #e61e43;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    overflow: hidden;
}

.mail h1{
    flex: 1
}

.box{
    padding: 0 10px;
    background-color: #a1122c;
    height: 100px;
    width: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-items: space-between;
    column-gap: 15px;
    border-radius: 15px;
}

.box span{
    display: flex;
    align-items: center;
    justify-content: center;
}